* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--basic-font);
}

:root {
    --basic-font: "Roboto", sans-serif;
    --dark-background: #1f2937;
    --hero-font-size: 48px;
    --light-text: #f9faf8;
    --button-font-color: #3882f6;
    --dark-text: #1f2937;
}

.container-one {
    background-color: var(--dark-background);
    height: 60vh;
    color: var(--light-text);
}

.header {
    margin: 0 auto;
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.logo p {
    font-weight: bold;
    font-size: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.header-text h1 {
    font-size: 48px;
}

button {
    align-self: flex-start;
}

.header-image {
    width: 500px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.header-button {
    background-color: var(--button-font-color);
    color: var(--light-text);
    padding: 10px 25px;
    border-radius: 5px;
    border: 0px;
} 

.random-information {
    margin: 0 auto;
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.card-box {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    gap: 10px;
}


.container-three {
    background-color: #e5e7eb;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.quote {
    color: var(--dark-text);
    font-size: 36px;
    font-style: italic;
    width: 70%;
    text-align: center;
}


.container-four {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-action {
    height: 10vh;
    background-color: #3882f6;
    width: 60%;
    height: 15vh;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
}

.cta-text {
    line-height: 1.2;
}

.cta-button button {
    background-color: transparent;
    color: #f9faf8;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #f9faf8;
}