* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--basic-font);
}

:root {
    --basic-font: "Roboto", sans-serif;
    --dark-background: #1f2937;
    --hero-font-size: 48px;
    --light-text: #f9faf8;
    --button-font-color: #3882f6;
    --dark-text: #1f2937;
}

.container-one {
    background-color: var(--dark-background);
    height: 60vh;
    color: var(--light-text);
}

.header {
    margin: 0 auto;
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.logo p {
    font-weight: bold;
    font-size: 24px;
}

.header-container {
    display: flex;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.header-text h1 {
    font-size: 48px;
}

button {
    align-self: flex-start;
}